<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Ajax</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/views/style.css">

    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  <body>
    <div class="side">
      <img id="cf1" src="/views/Breakfast.jpeg" alt="Waffles" width="98%" height="90%">
      <img id="cf2" src="/views/Coffee.jpg" alt="Coffee" width="98%" height="90%">
      <img id="cf3" src="/views/Cafe.jpg" alt="Cafe" width="98%" height="90%">
    </div>
    <div class="top">
        <img src="/views/PomegramLogo.png" alt="Pomegram" width="50" height="50">
        <div class="logo">Pomegram</div>
        <a href="login" class="barItem">Login</a>
        <a href="signup" class="barItem">Sign Up</a>
        <a href="list" class="barItem">Search</a>
        <a href="upload" class="barItem">Upload</a>
        <a href="/" class="barItem">Home</a>
    </div>
    <br>
    <br>
    <br>
        <div class="right">
        <h1>Login</h1>
        <form>
          User name:<br>
          <input id="username" type="text" name="username"><br>
          User password:<br>
          <input id="psw" type="password" name="psw">
        </form>
        <br>
        Don't have an account? Sign up today!
        <br>
        <a href="signup">
          <button class="button-53" role="button">Create an account</button>
        </a>
        </div>


	<script src="js/login.js"></script>

  </body>
</html>
