<!DOCTYPE html>
<html>
  <head>
    <title>Ajax</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/views/style.css">

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  <body>
    <br>
    <br>
    <div class="remy" style="position:relative">
         <img class="w3-image" src="/views/Banner.jpg">
         <div class="text">“Anyone can cook, but only the fearless can be great.”</div>
      </div>

<div class="top">
    <img src="/views/PomegramLogo.png" alt="Pomegram" width="50" height="50">
    <div class="logo">Pomegram</div>

</div>
      <div class="mainBody">
        <div class="blue" style="padding-top:10px;padding-bottom:10px;background:white;transform:translate(0, -5%);">
          <h2>Welcome to Pomegram!</h2>
        </div>
        <h3 style="margin-left:10%;margin-right:10%">Pomegram is a platform where you are free to share your culinary expertise! Join or sign in today to post and search through various recipes.</h3>
      </div>
          <form action="#">
            <br>
            <br>
            <div class="outer-div">
              <div class="inner-div">

                <input id="signButt" class = "bttn" type="button" value="Sign up!" onclick="location.href='signup';"/>
                <input id="logButt" class = "bttn" type="button" value="Log in!" onclick="location.href='login';"/>
              </div>
            </div>

            </form>
</div>



    <script src="js/main.js"></script>

  </body>
</html>
