/*
Color pallete rbg
light blue - 197 240 231
pink - 255 193 178
beige - 242 235 216
green - 154 201 157
brown - 183 145 108
*/
body {
  color: rgb(183, 145, 108);
  font-family: "Trebuchet MS", Georgia, Serif;
  background-color: rgb(242, 235, 216);
  margin: 0%;
}
h1, h2, h3, h4, h5, h6 {
font-family: "Playfair Display";
letter-spacing: 3px;
text-align: center;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 span {
  background: rgb(154, 201, 157);
}
h2:before,
h2:after {
  background: rgb(154, 201, 157);
  height: 10px;
  flex: 1;
  content: '';
}
h2.left:after {
  background: none;
}
h2.right:before {
  background: none;
}
.barItem {
  padding: 0 20px;
  float: right;
  text-decoration: none;
  color: rgb(183, 145, 108);
}
.top {
  font-size: 40px;
  color: rgb(183, 145, 108);
  background-color: rgb(255, 193, 240);
  border-bottom-color: rgb(255, 193, 240);
  border-bottom-style: solid;
  height: 1.3em;
  letter-spacing: 2px;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0%;
  margin-right: 0;
  z-index: 2;
  white-space: normal;
}
.side {
  font-size: 40px;
  color: rgb(183, 145, 108);
  background-color: rgb(154, 201, 157);
  border-bottom-color: rgb(154, 201, 157);
  border-bottom-style: solid;
  height: 100%;
  letter-spacing: 2px;
  position: fixed;
  width: 50%;
  margin-top: 1.3em;
  margin-right: 0;
  z-index: 2;
}
.side img {
    position:absolute;
    top:0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#cf1 {

}
#cf2 {
    -webkit-animation-delay: -4s;
}
#cf3 {
    -webkit-animation-delay: -2s;
}

.right {
  margin-left: 52%;
}
.w3-image{
  width: 100%;
  height: auto;
}
fieldset
{
  border-color: rgb(85,59,34);
  border-style: solid;
}
button {
   border: none;
   padding: 10px 27px;
   padding-bottom: 5px;
   background-color: rgb(183, 145, 108);
   font-family: "Trebuchet MS", Georgia, Serif;
   color: white;
   font-size: 16px;
   position: relative;
}
input[type=submit] {
   border: none;
   padding: 10px 27px;
   padding-bottom: 5px;
   background-color: rgb(154,201,157);
   font-family: "Trebuchet MS", Georgia, Serif;
   color: white;
   font-size: 16px;
   position: relative;
}
input[type=submit]:hover {
    background-color: rgb(45,83,47);
    transition: 0.3s;
    cursor: pointer;
}
input[type=file] {
   border: none;
   padding: 10px 27px;
   padding-bottom: 5px;
   background-color: rgb(154,201,157);
   font-family: "Trebuchet MS", Georgia, Serif;
   color: white;
   font-size: 16px;
   position: relative;
}
input[type=file]:hover {
    background-color: rgb(45,83,47);
    transition: 0.3s;
    cursor: pointer;
}
.bttn{
  border: none;
  border-radius: 1%;
  padding: 10px 27px;
  text-align: center;
  background-color: rgb(183 ,145 ,108);
  font-family: "Trebuchet MS", Georgia, Serif;
  color: white;
  font-size: 16px
}
.text {
    background-color: rgba(242,235,216,.75);
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo {
    color: rgba(183,145,108);
    position: absolute;
    top: 0%;
    left: 5%

}
button:hover {
    background-color: rgb(85,59,34);
    transition: 0.3s;
    cursor: pointer;
}
.bttn:hover {
    background-color: rgb(85,59,34);
    transition: 0.3s;
    cursor: pointer;
}
input[type=checkbox] {
    cursor: pointer;
    accent-color: rgb(85,59,34);
}
textarea {
    border-width: 2px;
    border-color: rgb(85,59,34);
    color: rgb(183,145,108);
}
textarea:focus {
    outline: none !important;
    border-color: rgb(85,59,34);
}
input[type=text] {
    border-style: solid;
    border-color: rgb(85,59,34);
    color: rgb(183,145,108);
}
input[type=text]:focus {
    outline: none !important;
    border-color: rgb(85,59,34);
}
input[type=password] {
    border-style: solid;
    border-color: rgb(85,59,34);
    color: rgb(183,145,108);
}
input[type=password]:focus {
    outline: none !important;
    border-color: rgb(85,59,34);
}
.inner-div
{
    margin: auto;
    width: 220px;
    height: 100px;
}

.file-row {
  width:20%;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
  text-align: center;
  word-wrap: break-word
  border:1px solid #ccc;
  height: auto;
  color: rgb(85,59,34);
  background-color: rgb(183, 145, 108);
  border: 3px solid rgb(85,59,34);
}
